body{
    font-family: monospace;
}

h1{
    text-align: center;
}

button {
  width: 2rem;
  height: 2rem;
  /* background: rgb(25, 25, 25); */
  border: solid 2px rgb(25, 25, 25);
  color: black;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  font-family: monospace;
  font-weight: bolder;
  font-size: large;
}

button:hover {
  border: solid 2px rgb(69, 134, 255);
  cursor: pointer;
}

#tabuleiro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
