* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  display: flex;
 flex-direction: column;
  align-items: center;
  background: whitesmoke;
}

h1 {
  text-align: center;
}

#tabuleiro > button {
  flex-basis: 25%;
  height: 100px;
}


button {
  width: 2rem;
  height: 2rem;
  background: rgb(25, 25, 25);
  border: solid 2px rgb(25, 25, 25);
  color: black;
  /* border-radius: 0.5rem; */
  /* padding: 1rem; */
  /* margin-inline: 1rem; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background: white;
  font-family: monospace;
  font-weight: bolder;
  font-size: large;
}

button:hover {
  background: rgb(121, 168, 255);
  cursor: pointer;
}

/* #tabuleiro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

#jogadores {
  margin-bottom: 1.4rem;
  display: flex;
  justify-content: center;
}

.jogadorAtivo {
  background: rgb(7, 146, 88) !important;
  transition: background 0.5s;
}

#jogadores > span {
  background: gray;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
}

button:disabled {
  background: rgb(69, 134, 255);
  border-color: rgb(69, 134, 255);
  color: white;
}

#jogadores > span > i {
  margin-left: 20px;
}

#tabuleiro {
  margin-inline: auto;
  display: flex;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  box-shadow: 6px 6px 10px #555;
}

