* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo{
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 3rem;
}

#botao {
    background: rgb(4, 117, 70);
    color: white;
    border: none;
    padding: 0.8rem;
    border-radius: 1.5rem;
    transition: all .5s;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#botao:hover {
    scale: 1.1;
}

#lista {
    margin-top: 1rem;
}

#form-div{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 0.5rem;
}

.label{
    display: block;
    color: rgb(17 24 39);
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 0.875rem;
}

#item-input {
    border-radius: 0.5rem;
    border: 0;
    padding: 1rem;
    width: 20rem;
    border: 1px solid rgb(209 213 219);
}


#item-input::placeholder{
    text-align: center;
}

li {
    border: solid #171717 1px;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    max-width: 10rem;
    width: 10rem;
    border-radius: 0.5rem;
}

li:hover {
    border-left: solid 8px crimson;
}

#itens-comuns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.itens-comuns {
    height: 10rem;
    width: 10rem;
    border: none;
    border-radius: 1.5rem;
    background: #e5e5e5;
}

.itens-comuns:hover{
    background: #d4d4d4;
    cursor: pointer;
}

.mb-2{
    margin-bottom: 1.5rem;
}

.mb-1{
    margin-bottom: 0.5rem;
}

#feijao {
    /* background-image: url(https://casaspedro.vteximg.com.br/arquivos/ids/173291-1000-1000/feijao-preto-especial-kg.png?v=637870858344070000); */
    background-size: cover;
    backdrop-filter: blur(1px);
}

#feijao-icon, #batata-icon{
    height: 3rem;
}

#batata-icon{
    height: 2rem;
}

hr {
    height: 8px;
    background-color: white;
    background-image: linear-gradient(90deg, transparent, gray, transparent);
    width: 80%;
    margin-inline: auto;
    margin-bottom: 2rem;
    border: 0;
    height: 1px;
}