:root {
    --roxo600: #7c3aed;
    --roxo800: #5b21b6;
    --roxo500: #8b5cf6;
    --neutral900: #171717;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--neutral900);
    font-family: 'Gloock', serif;
}

#header {
    background: var(--roxo600);
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10rem;
}

#logo:hover{
    scale: 1.1;
    cursor: pointer;
}

#hamburger:hover{
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#logo {
    height: 3.5rem;
    filter: invert();
}

#rounded-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--roxo500);
    border-radius: 100%;
    width: 6.5rem;
    height: 3.5rem;
    gap: 2rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#rounded-div:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.336), 0 2px 4px -2px rgba(0, 0, 0, 0.322);
    cursor: pointer;
}

.icons-white {
    color: white;
}

#title {
    color: var(--roxo500);
    text-align: center;
    margin-block: 2rem;
    font-size: 3rem;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

#subtitle {
    color: var(--roxo500);
    text-align: center;
    margin-block: 3rem;
    font-size: 1.5rem;
    margin-top: 0;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

#titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cardapio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
    gap: 2rem;
}

.cardapio-item {
    background: #27272a;
    max-width: 16rem;
    border-radius: 0.75rem;
    color: var(--roxo500);
    padding-block: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(151, 0, 76, 0.1), 0 4px 6px -4px rgba(151, 0, 76, 0.1);
    cursor: pointer;
    margin-bottom: 4rem;
}

.img-card {
    padding-block: 0.5rem;
    margin-inline: 1rem;
}

.text-card {
    font-size: small;
    font-weight: 300;
    padding: 1rem;
}

hr {
    border: solid 1px #3f3f46;
}

.price {
    text-align: right;
    margin-right: 1rem;
    padding-block: 0.5rem;
}

.product-img {
    width: 8rem;
}

.product-name {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-block: 0.5rem;
    font-size: larger;
    color: white;
    height: 10rem;
    background: url(https://cdn.britannica.com/31/122031-050-F8FCA663/Hamburger-cheeseburger.jpg);
    background-size: cover;
}

.product-title{
    background: #5b21b6;
    padding-inline: 4rem;
    text-transform: uppercase;
}

.card-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}