* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #252525;
}

.container {
    background: crimson;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 20px;
}

.item {
    background: forestgreen;
}

.diferente{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-row-start: 1;
    grid-row-end: 3;
}