:root {
    --vermelho: #b61918;
    --vermelho-claro: crimson;
    --vermelho-super-claro: #ffdad5;
    --amarelo: #f7b500;
    --branco-escuro: #f8f8f8;
    --preto: #252525;
    --sombra: 0 10px 15px -3px rgb(0, 0, 0, 0.3), 0 4px 6px -4px rgb(0, 0, 0, 0.1);
    --sombra-2: 0 10px 15px -3px rgb(0, 0, 0, 0.5), 0 4px 6px -4px rgb(0, 0, 0, 0.5);
    --sombra-3: box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.5), 0 2px 4px -2px rgb(0 0 0 / 0.5);
    --sombra: 0 10px 15px -3px rgb(0, 0, 0, 0.1), 0 4px 6px -4px rgb(0, 0, 0, 0.1);
    --borda: #e4e4e4;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#main-header {
    background: var(--vermelho);
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2rem;
    align-items: center;
    box-shadow: var(--sombra);
    border-bottom: solid 3px crimson;
}

div#logo-div>a>img {
    height: 3rem;
}

div#logo-div>a>img:hover {
    transition: scale 0.3s ease-in-out;
    scale: 1.1;
    cursor: pointer;
}

.header-link:hover {
    transition: color 0.3s ease-in-out;
    color: var(--amarelo);
    cursor: pointer;
}

#hamburger {
    color: var(--branco-escuro);
    font-size: xx-large;
}

#banner>img {
    width: 100%;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

.jogo-finalizado {
    background: var(--vermelho);
    color: var(--branco-escuro);
    font-weight: bold;
    padding: 0.3rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
    max-width: min-content;
    font-size: x-small;
    margin-top: 0.4rem;
}

.competicao-logo {
    max-height: 1.4rem;
}

.container {
    margin-bottom: 2rem;
}

.container>h2 {
    color: var(--vermelho);
    margin-block: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background: var(--branco-escuro);
    color: var(--preto);
    width: 90%;
    border-radius: 0.4rem;
    padding-bottom: 1rem;
    background: none;
    border: solid 1px var(--borda);
    margin-inline: auto;
}

.card:hover,
.jogo:hover,
.post-recomendado:hover {
    background: var(--branco-escuro);
    transition: background ease-in-out 0.3s;
    cursor: pointer;
}

.img-card-container {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.img-card-container>img {
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.infos-textos-card-container {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    row-gap: 0.5rem;
    justify-content: center;
    font-size: small;
}

.titulo-card-container {
    display: block;
    color: var(--vermelho);
    font-weight: bold;
    font-size: x-large;
    margin-top: 0.5rem;
}

.texto-card-container {
    font-weight: initial;
}

.tags-card-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.tag {
    background: var(--vermelho);
    border-radius: 0.25rem;
    padding-inline: 1rem;
    padding-block: 0.2rem;
    color: var(--branco-escuro);
    vertical-align: baseline;
    width: fit-content;
}

.infos-publicacao-container {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}

.hora-publicacao,
.comentarios {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    width: fit-content;
}

.hora-publicacao>span {
    display: flex;
    flex-direction: row;
    color: var(--branco-escuro);
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 1rem;
}

.card span {
    color: var(--preto);
}

#mobile-menu {
    z-index: 4;
    background: #252525;
    backdrop-filter: blur(2px);
    transition: display 2s ease-in-out;
    padding-block: 2rem;
    width: 100%;
    display: none;
    justify-content: center;
}

.visible {
    display: flex !important;
}

#links-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    row-gap: 2rem;
}

#redes-sociais-mobile {
    display: flex;
    background: var(--preto);
    width: 100%;
    color: var(--branco-escuro);
    justify-content: space-evenly;
    align-items: center;
    height: 2rem;
}

#redes-sociais-mobile>span {
    font-weight: bold;
    text-transform: uppercase;
}

.redes-sociais-mobile-container {
    display: flex;
    column-gap: 1rem;
    fill: var(--branco-escuro);
    color: white;
}

.redes-sociais-mobile-container svg {
    fill: white;
}

a {
    color: white;
}

#filtrar-btn {
    border: none;
    background: none;
    color: var(--vermelho);
}

.filtrar-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    column-gap: 0.4rem;
    color: var(--vermelho);
    font-weight: bold;
    width: fit-content;
    margin-right: 3rem;
    margin-top: 1rem;
    align-self: flex-end;
    padding-block: 0.6rem;
    padding-inline: 1rem;
    border-radius: 999px;
}

a>.post-recomendado{
    color: var(--preto);
}

.filtrar-container:hover {
    box-shadow: 0px 2px 4px -1px rgb(182, 25, 24, 0.2), 0px 2px 4px -1px rgb(182, 25, 24, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    column-gap: 1rem;
}

.pagination-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    width: 2.2rem;
    height: 2.2rem;
    border: none;
    background: none;
}

.pagination-item:hover a {
    color: var(--vermelho);
    transition: color ease-in-out 0.3s;
    cursor: pointer;
}

.pagination-item a {
    font-weight: bold;
    color: var(--preto);
    text-decoration: none;
    font-size: larger;
}

.pagination-item:nth-child(2) a {
    color: var(--branco-escuro);
    font-weight: bold;
}

.pagination-item:nth-child(2) {
    background: var(--vermelho);
}

.pagination-item:nth-child(n + 6):nth-child(-n + 9) {
    display: none;
}

#redes-sociais {
    display: none;
}

#main-header svg {
    fill: var(--branco-escuro);
}

#main-header svg:hover {
    transition: fill 0.3s ease-in-out;
    cursor: pointer;
    fill: var(--amarelo);
}

#hamburger-btn {
    background: none;
    border: none;
}

#links-header {
    display: none;
}

#header-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

#container-secundario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#proximos-jogos {
    display: none;
    height: fit-content;
    box-shadow: var(--sombra);
    border-radius: 0.4rem;
}

#proximos-jogos-header {
    background: var(--vermelho);
    color: var(--branco-escuro);
    font-weight: bold;
    padding: 0.5rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    width: 100%;
    padding-left: 2rem;
    font-size: x-large;
}

.jogo {
    display: grid;
    grid-template-columns: 1fr;
    padding-inline: 2rem;
    row-gap: 0.2rem;
    border-bottom: var(--borda) 2px solid;
}

.last {
    border: none;
}

.competicao {
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
}

.jogo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    font-weight: bold;
    color: var(--vermelho);
    column-gap: 2rem;
    font-size: smaller;
    height: min-content;
    margin-top: 0.5rem;
}

.jogo-infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.circulo {
    border-radius: 100%;
    background: var(--preto);
    height: 2rem;
    visibility: visible;
}

.jogo-times {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    column-gap: 2rem;
    flex-wrap: nowrap;
}

.time {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-weight: bold;
    font-size: larger;
}

.escudo {
    max-height: 4rem;
}

.escudo.adversario {
    max-height: 3rem;
}

.post-pre-imagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 80%;
    margin-top: 1rem;
}

.titulo-post {
    display: block;
    text-align: start;
    color: var(--vermelho);
    padding-left: 2rem;
    margin-block: 0.5rem;
}

.informacoes-publicacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.informacoes-publicacao span {
    display: block;
}

.post-img {
    width: 80%;
    border-radius: 0.5rem;
}

.post-text {
    word-wrap: break-word;
    margin-block: 2rem;
    padding-inline: 1rem;
}

.post-recomendado {
    border-radius: 0.4rem;
    display: flex;
    border: solid 1px var(--borda);
    align-items: center;
    margin-inline: 1rem;
}

.infos-post-recomendado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.2rem;
    margin-left: 1rem;
    margin-block: 1rem;
}

.img-post-recomendado {
    max-height: 5rem;
    border-radius: 0.4rem;
}

.comentarios-container {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width: 15rem;
    padding: 0.5rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
    margin-block: 1rem;
    border: solid 1px var(--borda);
}

.comentarios-container:hover {
    background: var(--branco-escuro);
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

#comentarios-container-esquerda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.infos-post-recomendado>h2 {
    color: var(--vermelho);
    font-size: x-large;
}

#posts-recomendados {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

#comentarios-tags {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    padding-left: 1rem;
}

@media (min-width: 600px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .pagination-item:nth-child(n + 6):nth-child(-n + 9) {
        display: flex;
    }

    @media (min-width: 900px) {
        .cards-container {
            grid-template-columns: repeat(3, 1fr);
        }

        .pagination-item:nth-child(n + 6):nth-child(-n + 9) {
            display: flex;
        }

        #redes-sociais-mobile {
            display: none;
        }

        #redes-sociais {
            display: flex;
            color: var(--branco-escuro);
            fill: var(--branco-escuro);
        }

        .redes-sociais-container {
            display: flex;
            column-gap: 0.5rem;
        }

        .rede-social {
            height: 1.5rem;
        }

        .redes-sociais-container a {
            color: var(--branco-escuro);
        }

        #header-end {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 2rem;
        }

        #hamburger-btn {
            display: none;
        }

        #links-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 2rem;
            font-weight: bold;
        }

        #posts-recomendados {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            padding-inline: 1rem;
        }
    }

    @media (min-width: 1200px) {
        #proximos-jogos {
            display: flex;
            flex-direction: column;
        }

        .container {
            padding-inline: 2rem;
        }

        .cards-container {
            grid-template-columns: repeat(2, 1fr);
        }

        .pagination-item:nth-child(n + 6):nth-child(-n + 9) {
            display: flex;
        }

        #redes-sociais-mobile {
            display: none;
        }

        #redes-sociais {
            display: flex;
            color: var(--branco-escuro);
            fill: var(--branco-escuro);
        }

        .redes-sociais-container a {
            color: var(--branco-escuro);
        }

        #header-end {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 2rem;
        }

        #hamburger-btn {
            display: none;
        }

        #posts-recomendados {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .tags-card-container {
            justify-content: start;
        }

        .titulo-post {
            font-size: 4rem;
        }
    }
}