body{
    font-family: monospace;
    background: #0f172a;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 0.5rem;
    border: none;
    color: white;
    padding: 0.4rem;
    width: 3.5rem;
    height: 2.5rem;
    font-size: x-large;
    text-align: center;
}

#mais{
    background: rgb(30, 131, 72);
}

#mais:hover{
    background: rgb(53, 189, 110);
    cursor: pointer;
}

#menos{
    background: crimson;
}


#menos:hover {
    background: rgb(255, 68, 105);
    cursor: pointer;
}

#menos:disabled, #mais:disabled{
    color: crimson;
    background: rgb(189, 104, 121);
}

#div{
    margin-inline: 1rem;
    color: #0ea5e9;
    font-size: xx-large;
}

h1, p{
    text-align: center;
    color: #0ea5e9;
}